<app-header></app-header>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of userData" >
            <td><img src = {{data.avatar}} alt ="{{data.first_name}} {{data.last_name}}"/></td>
            <td>{{data.id}}</td>
            <td>{{data.first_name}}</td>
            <td>{{data.last_name}}</td>
            <td>{{data.email}}</td>
            <td><fa-icon 
                [ngStyle]="{'color':'blue'}"
                class="btn mx-1"
                [icon]="faEdit"
                data-toggle="modal" data-target="#myModal"
                (click) = "onEdit(data)"
                ></fa-icon>
            <fa-icon 
                class="btn"
                [ngStyle]="{'color':'red'}"
                [icon]="faTrash"
                (click) = "deleteUser()"
                ></fa-icon>
              </td>
        </tr>
    </tbody>
</table>
<hr>
<div class="row">
  <div class="col-md-12 d-flex justify-content-end">
    <div class="form-inline-block mr-1">
      <select id="select" class="form-control" (change)="changeNumber($event)">
        <option value="2"> 2 Per Page</option>
        <option value="3">3 Per Page</option>
        <option value="4">4 Per Page</option>
        <option value="6">6 Per Page</option>
        <option selected value="12">12 Per Page</option>
      </select>
    </div>
    <nav aria-label="..." *ngIf = "newNumberofPages">
      <ul class="pagination">
        <li class="page-item" *ngIf = "previous" (click)="onPrevious()">
          <a class="page-link" >Previous</a>
        </li>
        <li class="page-item" [class.active]="page == selectedPage" *ngFor="let page of pageNumbers" (click)="onPageChange(page)"><a class="page-link"> {{page}}</a></li>        
        <li class="page-item">
          <a class="page-link" *ngIf = "next" (click)="onNext()">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<hr><hr>

<app-footer></app-footer>

<div class="container">
  
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            
            <figure class="figure">
              <img [src]="imgUrl" class="figure-img img-fluid rounded" alt="{{userModelObj.first_name}}">
              <figcaption class="figure-caption" style="font-size: 18px; font-weight: bold;">ID: {{userModelObj.id}}</figcaption>
            </figure>
            <h4 class="modal-title">User Information</h4>            
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          </div>
          <!-- Modal body -->
          <div class="modal-body">

            <!--User Informatin Details-->
            <div class="container">
                <!--declare [formGroup]="formValue" data binding 
                for every input formControlName=""-->
                <div class="row container">  
                </div>

                <form [formGroup]="formValue" class = "was-validated">
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input 
                          type="text" 
                          formControlName="first_name" 
                          class="form-control" 
                          id="first_name"  
                          name="first_name"
                          required>
                          <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input 
                          type="text" 
                          formControlName="last_name" 
                          class="form-control" 
                          id="last_name"  
                          name="last_name" 
                          required>
                          <div class="invalid-feedback">Please fill out this field.</div>
                    </div>    
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input 
                      type="email" 
                      formControlName="email" 
                      class="form-control" 
                      id="email"  
                      name="email"
                      required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                      <div class="invalid-feedback">Please fill out this field on proper format.</div> 
                  </div>
                  <div class="form-group">
                    <label for="avatar">Avatar Address:</label>
                    <input 
                      type="text" 
                      formControlName="avatar" 
                      class="form-control" 
                      id="avatar"  
                      name="avatar"
                      required>
                      <div class="invalid-feedback">Please fill out this field.</div>
                    </div>   
                </form>
              </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button 
              type="button" 
              id = "cancel" 
              class="btn btn-danger" 
              data-dismiss="modal">Cancel</button>
            <button 
              type="submit"
              *ngIf="showAdd" 
              [disabled] = "!formValue.valid"
              (click) = "postUserDetails()"
              class="btn btn-primary">Save</button>
            <button 
              type="submit" 
              *ngIf="showUpdate"
              [disabled] = "!formValue.valid"
              (click) = "onUpdate()"
              class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
</div>